In [33]:
# Introduction to Recommender Systems: Non-Personalized and Content-Based
## Assignment 01

In [ ]:
from pprint import pprint
import numpy as np
from scipy.stats import pearsonr

def json_load(filename):
    import json
    with open(filename, "r") as f:
        return json.load(f)

In [127]:
rating_data = csv_load("HW1-data.csv", delimiter=",")
head, rating_data = rating_data[0], rating_data[1:]

movies = head[2:]
users_head = head[:2]

users = np.array([row[:2] for row in rating_data]).astype(int)
rating_data = [row[2:] for row in rating_data]

fill_nans = np.vectorize(lambda x: x if x != "" else "NaN")
ratings = np.array(fill_nans(rating_data)).astype(float)


nr_users, nr_movies = ratings.shape

pprint(users_head)
print("nr_users", nr_users)
pprint(users)
print("nr_movies", nr_movies)
pprint(movies)
print(ratings)

['User', 'Gender (1 =F, 0=M)']
nr_users 20
array([[ 755,    0],
       [5277,    0],
       [1577,    1],
       [4388,    0],
       [1202,    1],
       [3823,    1],
       [5448,    0],
       [5347,    0],
       [4117,    1],
       [2765,    0],
       [5450,    1],
       [ 139,    0],
       [1940,    0],
       [3118,    1],
       [4656,    1],
       [4796,    1],
       [6037,    0],
       [3048,    1],
       [4790,    0],
       [4489,    0]])
nr_movies 20
['260: Star Wars: Episode IV - A New Hope (1977)',
 '1210: Star Wars: Episode VI - Return of the Jedi (1983)',
 '356: Forrest Gump (1994)',
 '318: Shawshank Redemption, The (1994)',
 '593: Silence of the Lambs, The (1991)',
 '3578: Gladiator (2000)',
 '1: Toy Story (1995)',
 '2028: Saving Private Ryan (1998)',
 '296: Pulp Fiction (1994)',
 '1259: Stand by Me (1986)',
 '2396: Shakespeare in Love (1998)',
 '2916: Total Recall (1990)',
 '780: Independence Day (ID4) (1996)',
 '541: Blade Runner (1982)',
 '1265: Groundhog Day (1993)',
 '2571: Matrix, The (1999)',
 "527: Schindler's List (1993)",
 '2762: Sixth Sense, The (1999)',
 '1198: Raiders of the Lost Ark (1981)',
 '34: Babe (1995)']
[[  1.   5.   2.  nan   4.   4.   2.   2.  nan   3.   2.  nan   5.   2.
   nan   4.   2.   5.  nan  nan]
 [  5.   3.  nan   2.   4.   2.   1.  nan  nan   4.   3.   2.   2.  nan
    2.  nan   5.   1.   3.  nan]
 [ nan  nan  nan   5.   2.  nan   4.  nan  nan   1.  nan   1.   4.   4.
    1.   1.   2.   3.   1.   3.]
 [ nan   3.  nan  nan  nan   1.   2.   3.   4.  nan  nan   4.   1.   3.
    5.  nan   5.   1.   1.   2.]
 [  4.   3.   4.   1.   4.   1.  nan   4.  nan   1.   5.   1.  nan   4.
   nan   3.   5.   5.  nan  nan]
 [  2.   4.   4.   4.  nan  nan   3.   1.   4.   4.   5.   2.   4.  nan
    1.  nan  nan   3.  nan   2.]
 [ nan  nan   3.   1.   1.   4.  nan   5.   2.  nan   1.  nan  nan   3.
   nan   1.  nan  nan   5.   2.]
 [  4.  nan  nan  nan   3.   2.   2.  nan   3.  nan  nan   2.   3.   2.
    4.  nan   1.   3.   5.  nan]
 [  5.   1.  nan   4.   2.   4.   4.   4.  nan   1.   2.   3.   1.  nan
    5.  nan  nan  nan  nan   5.]
 [  4.   2.  nan   5.   3.  nan   4.   3.   4.  nan  nan  nan   2.  nan
   nan   2.   5.   1.  nan  nan]
 [  2.   1.   5.  nan  nan   5.   5.  nan  nan  nan  nan   3.   2.  nan
   nan   1.  nan   2.   1.   4.]
 [  3.   5.   2.  nan   2.  nan   2.  nan   1.  nan   3.  nan   3.  nan
    2.   5.  nan  nan  nan   2.]
 [  2.   3.  nan   5.   4.  nan   4.   5.  nan  nan  nan   2.   4.  nan
    3.  nan  nan  nan   5.  nan]
 [  3.  nan   3.  nan   2.  nan   3.  nan  nan   4.  nan   1.   2.   2.
    3.   5.   1.  nan  nan  nan]
 [  4.   4.  nan  nan   5.   5.   2.  nan   3.   5.  nan   1.   3.  nan
    2.  nan   3.  nan   3.   1.]
 [ nan  nan   1.  nan   3.   2.  nan   2.  nan   1.   5.  nan  nan  nan
    5.   2.   2.   4.   3.   4.]
 [ nan  nan  nan  nan   4.  nan   2.  nan   2.  nan   2.  nan  nan  nan
   nan   4.  nan  nan  nan  nan]
 [  4.   5.   1.   5.   1.   1.   4.  nan   5.  nan  nan  nan  nan   4.
   nan  nan   2.   1.   2.   5.]
 [  5.   1.  nan  nan  nan   4.   2.   1.   3.   3.   3.   1.  nan  nan
   nan   2.  nan  nan  nan  nan]
 [  1.   2.   2.   4.   5.  nan   2.   3.   2.   2.   1.  nan  nan   5.
    5.   4.   3.   5.   3.  nan]]

# What is the movie (movie ID number) with the highest mean rating?

In [65]:
movies_avg_ratings = np.nanmean(ratings, axis=0)
movies_by_avg_rating = sorted(zip(movies_avg_ratings, movies), reverse=True)
pprint(movies_by_avg_rating)

[(3.6000000000000001, '318: Shawshank Redemption, The (1994)'),
 (3.2666666666666666, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (3.2222222222222223, '541: Blade Runner (1982)'),
 (3.1666666666666665, '1265: Groundhog Day (1993)'),
 (3.0625, '593: Silence of the Lambs, The (1991)'),
 (3.0, "527: Schindler's List (1993)"),
 (3.0, '34: Babe (1995)'),
 (3.0, '296: Pulp Fiction (1994)'),
 (3.0, '2028: Saving Private Ryan (1998)'),
 (3.0, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (2.9166666666666665, '3578: Gladiator (2000)'),
 (2.9090909090909092, '2396: Shakespeare in Love (1998)'),
 (2.9090909090909092, '1198: Raiders of the Lost Ark (1981)'),
 (2.8333333333333335, '2762: Sixth Sense, The (1999)'),
 (2.8333333333333335, '2571: Matrix, The (1999)'),
 (2.8235294117647061, '1: Toy Story (1995)'),
 (2.7692307692307692, '780: Independence Day (ID4) (1996)'),
 (2.7000000000000002, '356: Forrest Gump (1994)'),
 (2.6363636363636362, '1259: Stand by Me (1986)'),
 (1.9166666666666667, '2916: Total Recall (1990)')]

# Top Movies by Count

In [93]:
movies_rated = np.logical_not(np.isnan(ratings))
movies_nr_ratings = np.nansum(movies_rated, axis=0)
movies_by_nr_ratings = sorted(zip(movies_nr_ratings, movies), reverse=True)
pprint(movies_by_nr_ratings)

[(17, '1: Toy Story (1995)'),
 (16, '593: Silence of the Lambs, The (1991)'),
 (15, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (14, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (13, '780: Independence Day (ID4) (1996)'),
 (12, "527: Schindler's List (1993)"),
 (12, '3578: Gladiator (2000)'),
 (12, '2916: Total Recall (1990)'),
 (12, '2762: Sixth Sense, The (1999)'),
 (12, '2571: Matrix, The (1999)'),
 (12, '1265: Groundhog Day (1993)'),
 (11, '296: Pulp Fiction (1994)'),
 (11, '2396: Shakespeare in Love (1998)'),
 (11, '2028: Saving Private Ryan (1998)'),
 (11, '1259: Stand by Me (1986)'),
 (11, '1198: Raiders of the Lost Ark (1981)'),
 (10, '356: Forrest Gump (1994)'),
 (10, '34: Babe (1995)'),
 (10, '318: Shawshank Redemption, The (1994)'),
 (9, '541: Blade Runner (1982)')]

# Top Movies by Percent Liking

In [88]:
ratings_high = (ratings >= 4).astype(float)
ratings_high[np.isnan(ratings)] = np.nan
movies_percent_liking = np.nanmean(ratings_high, axis=0)

movies_by_percent_liking = sorted(zip(movies_percent_liking, movies), reverse=True)
pprint(movies_by_percent_liking)

[(0.69999999999999996, '318: Shawshank Redemption, The (1994)'),
 (0.53333333333333333, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (0.5, '3578: Gladiator (2000)'),
 (0.44444444444444442, '541: Blade Runner (1982)'),
 (0.4375, '593: Silence of the Lambs, The (1991)'),
 (0.41666666666666669, '2571: Matrix, The (1999)'),
 (0.41666666666666669, '1265: Groundhog Day (1993)'),
 (0.40000000000000002, '34: Babe (1995)'),
 (0.36363636363636365, '296: Pulp Fiction (1994)'),
 (0.36363636363636365, '2028: Saving Private Ryan (1998)'),
 (0.36363636363636365, '1259: Stand by Me (1986)'),
 (0.35714285714285715,
  '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (0.35294117647058826, '1: Toy Story (1995)'),
 (0.33333333333333331, "527: Schindler's List (1993)"),
 (0.33333333333333331, '2762: Sixth Sense, The (1999)'),
 (0.30769230769230771, '780: Independence Day (ID4) (1996)'),
 (0.29999999999999999, '356: Forrest Gump (1994)'),
 (0.27272727272727271, '2396: Shakespeare in Love (1998)'),
 (0.27272727272727271, '1198: Raiders of the Lost Ark (1981)'),
 (0.083333333333333329, '2916: Total Recall (1990)')]

/home/prinda/.pyenv/versions/3.5.2/envs/py3/lib/python3.5/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater_equal
  """Entry point for launching an IPython kernel.

# Association with Toy Story

In [119]:
i_toy_story = 6
print(movies[i_toy_story])

# numerator
rated_toy_story = movies_rated[:, i_toy_story:i_toy_story+1]
rated_together = movies_rated & np.tile(rated_toy_story, reps=[1, nr_movies])
rated_together_percent = np.mean(rated_together, axis=0)

# denumerator
movies_percent_rated =  movies_nr_ratings / nr_users

#calculation
association_score_toy_story = rated_together_percent / movies_percent_rated[i_toy_story]
movies_by_association_score_toy_story = sorted(zip(association_score_toy_story, movies), reverse=True)
movies_by_association_score_toy_story = [row for row in movies_by_association_score_toy_story if row[1] != movies[i_toy_story]]
pprint(movies_by_association_score_toy_story)

1: Toy Story (1995)
[(0.82352941176470584, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (0.76470588235294124, '780: Independence Day (ID4) (1996)'),
 (0.76470588235294124, '593: Silence of the Lambs, The (1991)'),
 (0.76470588235294124,
  '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (0.6470588235294118, '2916: Total Recall (1990)'),
 (0.6470588235294118, '1265: Groundhog Day (1993)'),
 (0.58823529411764708, "527: Schindler's List (1993)"),
 (0.58823529411764708, '296: Pulp Fiction (1994)'),
 (0.58823529411764708, '2762: Sixth Sense, The (1999)'),
 (0.52941176470588236, '3578: Gladiator (2000)'),
 (0.52941176470588236, '2571: Matrix, The (1999)'),
 (0.52941176470588236, '1259: Stand by Me (1986)'),
 (0.52941176470588236, '1198: Raiders of the Lost Ark (1981)'),
 (0.4705882352941177, '34: Babe (1995)'),
 (0.4705882352941177, '318: Shawshank Redemption, The (1994)'),
 (0.4705882352941177, '2396: Shakespeare in Love (1998)'),
 (0.4705882352941177, '2028: Saving Private Ryan (1998)'),
 (0.41176470588235292, '541: Blade Runner (1982)'),
 (0.41176470588235292, '356: Forrest Gump (1994)')]

# Correlation with Toy Story

In [122]:
i_toy_story = 6 

movies_corr_toy_story = []
for i_movie in range(len(movies)):
    ratings_common_toy_story = ratings[rated_together[:, i_movie], i_toy_story]
    ratings_common_movie = ratings[rated_together[:, i_movie], i_movie]
    corr, p_val = pearsonr(ratings_common_toy_story, ratings_common_movie)
    movies_corr_toy_story.append(corr)
    


movies_by_corr_toy_story = sorted(zip(movies_corr_toy_story, movies), reverse=True)
movies_by_corr_toy_story = [row for row in movies_by_corr_toy_story if row[1] != movies[i_toy_story]]
pprint(movies_by_corr_toy_story)

[(0.88852331663863848, '318: Shawshank Redemption, The (1994)'),
 (0.81110710565381272, '34: Babe (1995)'),
 (0.70984221415202409, '296: Pulp Fiction (1994)'),
 (0.59684919052383434, '2028: Saving Private Ryan (1998)'),
 (0.52291251658379723, '356: Forrest Gump (1994)'),
 (0.32963425737213153, '541: Blade Runner (1982)'),
 (0.25339638206527132, '3578: Gladiator (2000)'),
 (0.16379642332078845, '2916: Total Recall (1990)'),
 (0.10176802973291374, '2396: Shakespeare in Love (1998)'),
 (-0.062858169121342983, '1265: Groundhog Day (1993)'),
 (-0.069923017802724891, '780: Independence Day (ID4) (1996)'),
 (-0.11900452556370296, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (-0.22031522291274924, "527: Schindler's List (1993)"),
 (-0.24576957615571218, '2762: Sixth Sense, The (1999)'),
 (-0.30906696371450232, '1198: Raiders of the Lost Ark (1981)'),
 (-0.31450444111055242,
  '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (-0.56825757070774396, '593: Silence of the Lambs, The (1991)'),
 (-0.61030010340505125, '1259: Stand by Me (1986)'),
 (-0.72199487238115534, '2571: Matrix, The (1999)')]

# Female-Male Differences in Average Rating

In [135]:
i_females = [i_user for i_user, (id_user, is_female) in enumerate(users) if is_female]
i_males = [i_user for i_user, (id_user, is_female) in enumerate(users) if not is_female]
movie_ratings_males = np.nanmean(ratings[i_males, :], axis=0)
movie_ratings_females = np.nanmean(ratings[i_females, :], axis=0)

fm_movie_diff_avg_rating = movie_ratings_females - movie_ratings_males
movies_by_fm_movie_diff_avg_rating = sorted(zip(fm_movie_diff_avg_rating, movies), reverse=True)
pprint(movies_by_fm_movie_diff_avg_rating)

fm_difference_total = np.nanmean(ratings[i_females, :]) - np.nanmean(ratings[i_males, :])
print(fm_difference_total)

[(2.1071428571428572, '2396: Shakespeare in Love (1998)'),
 (1.4285714285714284, '34: Babe (1995)'),
 (1.375, '296: Pulp Fiction (1994)'),
 (1.2714285714285718, '1: Toy Story (1995)'),
 (0.75, '356: Forrest Gump (1994)'),
 (0.5, '541: Blade Runner (1982)'),
 (0.39999999999999991, '318: Shawshank Redemption, The (1994)'),
 (0.33333333333333348, '2762: Sixth Sense, The (1999)'),
 (0.30357142857142838, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (0.16666666666666652, '3578: Gladiator (2000)'),
 (0.0, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (-0.19047619047619069, '780: Independence Day (ID4) (1996)'),
 (-0.39285714285714279, '2028: Saving Private Ryan (1998)'),
 (-0.48571428571428599, '2916: Total Recall (1990)'),
 (-0.57142857142857162, '1259: Stand by Me (1986)'),
 (-0.61904761904761907, '593: Silence of the Lambs, The (1991)'),
 (-0.66666666666666652, '1265: Groundhog Day (1993)'),
 (-0.74285714285714288, '2571: Matrix, The (1999)'),
 (-1.0, "527: Schindler's List (1993)"),
 (-1.6666666666666665, '1198: Raiders of the Lost Ark (1981)')]
0.041856610029

# Male-Female differences in Liking

In [136]:
movie_liking_males = np.nanmean(ratings_high[i_males, :], axis=0)
movie_liking_females = np.nanmean(ratings_high[i_females, :], axis=0)

fm_movie_diff_liking = movie_liking_females - movie_liking_males
movies_by_fm_movie_diff_liking = sorted(zip(fm_movie_diff_liking, movies), reverse=True)
pprint(movies_by_fm_movie_diff_liking)

[(0.75, '2396: Shakespeare in Love (1998)'),
 (0.5714285714285714, '34: Babe (1995)'),
 (0.55000000000000004, '541: Blade Runner (1982)'),
 (0.5, '356: Forrest Gump (1994)'),
 (0.41666666666666663, '296: Pulp Fiction (1994)'),
 (0.37142857142857139, '1: Toy Story (1995)'),
 (0.25, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (0.2142857142857143, '2028: Saving Private Ryan (1998)'),
 (0.20000000000000007, '318: Shawshank Redemption, The (1994)'),
 (0.17857142857142855, '1259: Stand by Me (1986)'),
 (0.071428571428571397, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (0.047619047619047616, '780: Independence Day (ID4) (1996)'),
 (0.0, '3578: Gladiator (2000)'),
 (0.0, '2762: Sixth Sense, The (1999)'),
 (-0.16666666666666669, '1265: Groundhog Day (1993)'),
 (-0.20000000000000001, '2916: Total Recall (1990)'),
 (-0.26984126984126988, '593: Silence of the Lambs, The (1991)'),
 (-0.33333333333333337, "527: Schindler's List (1993)"),
 (-0.37142857142857139, '2571: Matrix, The (1999)'),
 (-0.5, '1198: Raiders of the Lost Ark (1981)')]